* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1EFED;
    font-family: "HelveticaNeue-light";
}

main {
    margin: 2em 1em;
}

/* titel en inleiding */
h1 {
    font-family: "HelveticaNeue-CondensedBlack";
    display: flex;
    justify-content: center;
    color: #6F4635;
    font-size: 40px;
}

p {
    margin: 1em 0;
    font-size: 16px;
}

/* Beagle en navigatie buttons */

/*default button */
button {
    margin: 1em;
    padding: 1em;
    background-color: #85A06C;
    width: 6em;
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 12px;
    border-radius: 1em;
    border: 2px solid;
    border-color: #808080;
    z-index: 1;
}

button:hover {
    background-color: #7A9263;
    cursor: pointer;
}

/*navigatie buttons*/
#verderButton {
    background-color: #FFFFFF;
    color: #808080;
}

#verderButton:hover {
    background-color: #808080;
    color: #ffffff;
    cursor: pointer;
}

#terugButton {
    background-color: #FFFFFF;
    color: #808080;
}

#terugButton:hover {
    background-color: #808080;
    color: #ffffff;
    cursor: pointer;
}

/*beagle button*/
#beagleButton {
    font-size: 20px;
    box-shadow: 5px 5px 10px 0px rgba(168, 165, 168, 1);
    color: #FAFAFA;
    width: 10em;
    border: 0px;
}

.Pressed {
    animation: wiebel 0.3s;
    background-color: #C6C8C5;
}

.Pressed:hover {
    cursor: default;
    background-color: #C6C8C5;
}

/*wiebel animatie 'add beagles' button*/
@keyframes wiebel {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
        background-color: #7A9363;
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
        background-color: #6F825D;
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
        background-color: #87937B;
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
        background-color: #A5ABA0;
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
        background-color: #C6C8C5;
    }
}

/* slideshow */
div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    /*overflow: hidden;*/
    width: 332px;
    height: 300px;
}

/* carrousel foto's */
img {
    display: flex;
    z-index: 0;
    width: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: 0 16px;
}

