* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1EFED;
    font-family: "HelveticaNeue-light";
}

main {
    margin: 2em 1em;
}

/* titel en inleiding */
h1 {
    font-family: "HelveticaNeue-CondensedBlack";
    display: flex;
    justify-content: center;
    color: #6F4635;
    font-size: 40px;
}

p {
    margin: 1em 0;
    font-size: 16px;
}

/* navigatie buttons */
button {
    margin: 1em;
    padding: 1em;
    width: 5em;
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 12px;
    background-color: #FFFFFF;
    color: #808080;
    border-radius: 2em;
    border: 2px solid;
    border-color: #808080;
}

button:hover {
    background-color: #F0B838;
    cursor: pointer;
}

#beagleButton {
    font-size: 20px;
    background-color: #85A06C;
    box-shadow: 5px 5px 10px 0px rgba(168, 165, 168, 1);
    color: #FAFAFA;
    width: 10em;
    border: 0px;
}

/* slideshow */
div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* carrousel foto's */
img {
    display: flex;
    overflow: hidden;
}

li {
    position: relative;
}

li img {
    max-width: 300px;
    margin: 1em 0.5em;
}
